# Titanic - Machine Learning from Disaster

## Deep Neural Network

In [1]:
import pandas as pd
import numpy as np

import tensorflow as tf
from tensorflow import keras

from sklearn.model_selection import train_test_split

## Constants

In [2]:
PATH_PROCESSED_TRAIN_CSV = "data/processed_train.csv"

## Data Collection

In [3]:
train_df = pd.read_csv(PATH_PROCESSED_TRAIN_CSV)
train_df

,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked,Title,FamilyName,Kinship,Deck,Alone,AgeGroup
0,0,3,1,22.0,1,0,523,7.25,2,2,73,1,8,0.0,0
1,1,1,0,38.0,1,0,596,71.28,0,3,136,1,2,0.0,0
2,1,3,0,26.0,0,0,669,7.92,2,1,251,0,8,1.0,0
3,1,1,0,35.0,1,0,49,26.55,2,3,198,1,2,0.0,0
4,0,3,1,35.0,0,0,472,8.05,2,2,11,0,8,1.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,1,27.0,0,0,101,13.00,2,4,406,0,8,1.0,0
887,1,1,0,19.0,0,0,14,30.00,2,1,221,0,1,1.0,0
888,0,3,0,29.0,1,2,675,11.72,2,1,293,3,8,0.0,0
889,1,1,1,26.0,0,0,8,30.00,0,2,52,0,2,1.0,0
890,0,3,1,32.0,0,0,466,7.75,1,2,159,0,8,1.0,0

### Feature Selection

_Legend:_

X: Feature Variables (or Independent Variables)

y: Target Variables (or dependent Variables)

In [4]:
X = train_df.drop(["Survived"], axis=1)
y = train_df["Survived"]

### Split dataset into train and test sets

In [5]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

In [6]:
X_train.shape, y_train.shape

((668, 14), (668,))

In [7]:
X_test.shape, y_test.shape

((223, 14), (223,))

## Modeling

In [11]:
network = tf.keras.Sequential([
  tf.keras.layers.Dense(10, activation='relu'),
  tf.keras.layers.Dense(10, activation='relu'),
  tf.keras.layers.Dense(1)
])

network.compile(optimizer='adam',
                loss=tf.keras.losses.BinaryCrossentropy(from_logits=True),
                metrics=['accuracy'])

In [12]:
network.fit(X_train, y_train, epochs=10)

2022-04-10 17:25:41.890892: I tensorflow/compiler/mlir/mlir_graph_optimization_pass.cc:116] None of the MLIR optimization passes are enabled (registered 2)
2022-04-10 17:25:41.909314: I tensorflow/core/platform/profile_utils/cpu_utils.cc:112] CPU Frequency: 2599990000 Hz

Epoch 1/10
21/21 [==============================] - 0s 2ms/step - loss: 6.4201 - accuracy: 0.5555
Epoch 2/10
21/21 [==============================] - 0s 2ms/step - loss: 3.8719 - accuracy: 0.5283
Epoch 3/10
21/21 [==============================] - 0s 2ms/step - loss: 2.6766 - accuracy: 0.5690
Epoch 4/10
21/21 [==============================] - 0s 2ms/step - loss: 1.9568 - accuracy: 0.6057
Epoch 5/10
21/21 [==============================] - 0s 2ms/step - loss: 1.5351 - accuracy: 0.6117
Epoch 6/10
21/21 [==============================] - 0s 2ms/step - loss: 1.2809 - accuracy: 0.6210
Epoch 7/10
21/21 [==============================] - 0s 2ms/step - loss: 1.0437 - accuracy: 0.6193
Epoch 8/10
21/21 [==============================] - 0s 2ms/step - loss: 0.9598 - accuracy: 0.6354
Epoch 9/10
21/21 [==============================] - 0s 2ms/step - loss: 0.8517 - accuracy: 0.6683
Epoch 10/10
21/21 [==============================] - 0s 2ms/step - loss: 0.7914 - accuracy: 0.6745